<h1>今日の波</h1>

<p>波高  <%= @height %></p>
<p>波向き  <%= @direction %></p>
<p>間隔   <%=  @period %></p>
<p>2波高  <%=  @wwavedirection  %></p>
<p>2波の向き  <%= @wwavedirection %></p>
<p>2波の時間  <%= @wwaveperiod %></p>
<p>うねりの高さ  <%=@s1h %></p>
<p>うねりの向き  <%=@s1d%></p>
<p>うねりの間隔  <%=@s1p%></p>


